#entete {
    padding-bottom: 5%;
    background-color: rgba(204, 187, 241, 1);
    color: white;
}

#piedpage {
    padding: 5%;
    background-color: rgba(204, 187, 241, 1);
    color: rgb(0, 0, 0);
}